<h1>View all Saved Searches</h1>


<div class="center_table_index">
<div class="caption">All Saved Searches</div>  
<div id="table">
  <div class="header-row row">
    <span class="cell primary">Description</span>
    <span class="cell">Total Listings</span>
    <span class="cell">Avg Price</span>
    <span class="cell">Price 10th Percentile</span>
    <span class="cell">Price 90th Percentile</span>
    <span class="cell">Avg SqFt</span>
    <span class="cell">Avg Price/SqFt</span>
    <span class="cell">Avg Week on Market</span>
    <span class="cell">Raw Data</span>
    <span class="cell">Value Score</span>
  </div>
  <% @arr.each do |item| %>
    <div class="row">
      <input type="radio" name="expand" />
      <span class="cell primary" data-label="Description"><%= item.fetch("criteria_description") %></span>
      <span class="cell" data-label="Total Listings"><%= item.fetch("listing_count") %></span>
      <span class="cell" data-label="Avg Price"><%=number_to_currency(item.fetch("average_price")) %></span>
      <span class="cell" data-label="Price 10th Percentile"><%=number_to_currency( item.fetch("percentile_10_price")) %></span>
      <span class="cell" data-label="Price 90th Percentile"><%=number_to_currency( item.fetch("percentile_90_price")) %></span>
      <span class="cell" data-label="Avg SqFt"><%= item.fetch("average_sqft") %></span>
      <span class="cell" data-label="Avg Price/SqFt"><%=number_to_currency( item.fetch("average_ppsf")) %></span>
      <span class="cell" data-label="Avg WOM"><%= item.fetch("average_wom").to_i %></span>
      <span class="cell" data-label="Raw Data"><a href="/users/<%= params[:user_id] %>/queries/<%= item.fetch('id') %>">View</a></span>
      <span class="cell" data-label="Value Score"><%= algo_for_quality(item.fetch("average_price"), item.fetch("average_ppsf")) %></span>
    </div>
  <% end %>
 </div>
</div>
