<h4 class="left"><%= link_to "<< back to queries", user_queries_path(@user) %></h4>
<h1>View Raw Data</h1>


<div class="center_table">
<div class="caption"><%= @api.fetch("criteria_description") %></div>  
<div id="table">
  <div class="header-row row">
    <span class="cell primary">Name</span>
    <span class="cell">Data</span>

  </div>
  <div class="row">
  <input type="radio" name="expand">
    <span class="cell primary" data-label="Name">Listing Count</span>
    <span class="cell" data-label="Data"><%= @api.fetch("listing_count") %></span>

  </div>
  <div class="row">
  <input type="radio" name="expand">
    <span class="cell primary" data-label="Vehicle">Median Price</span>
    <span class="cell" data-label="Exterior"><%= number_to_currency( @api.fetch("median_price")) %></span>

  </div>
  <div class="row">
  <input type="radio" name="expand">
    <span class="cell primary" data-label="Vehicle">Average Price</span>
    <span class="cell" data-label="Exterior"><%= number_to_currency( @api.fetch("average_price")) %></span>

  </div>
  <div class="row">
  <input type="radio" name="expand">
    <span class="cell primary" data-label="Vehicle">Price in 10th Percentile</span>
    <span class="cell" data-label="Exterior"><%= number_to_currency( @api.fetch("percentile_10_price")) %></span>

  </div>
  <div class="row">
  <input type="radio" name="expand">
    <span class="cell primary" data-label="Vehicle">Price in 90th Percentile</span>
    <span class="cell" data-label="Exterior"><%= number_to_currency( @api.fetch("percentile_90_price")) %></span>

  </div>
  <div class="row">
  <input type="radio" name="expand">
    <span class="cell primary" data-label="Vehicle">Median Square Feet</span>
    <span class="cell" data-label="Exterior"><%= @api.fetch("median_sqft") %></span>

    </div>
  <div class="row">
  <input type="radio" name="expand">
    <span class="cell primary" data-label="Vehicle">Average Square Feet</span>
    <span class="cell" data-label="Exterior"><%= @api.fetch("average_sqft") %></span>

        </div>
  <div class="row">
  <input type="radio" name="expand">
    <span class="cell primary" data-label="Vehicle">Median Price/SqFt</span>
    <span class="cell" data-label="Exterior"><%= number_to_currency( @api.fetch("median_ppsf")) %></span>

        </div>
  <div class="row">
  <input type="radio" name="expand">
    <span class="cell primary" data-label="Vehicle">Average Price/SqFt</span>
    <span class="cell" data-label="Exterior"><%= number_to_currency( @api.fetch("average_ppsf")) %></span>

        </div>
  <div class="row">
  <input type="radio" name="expand">
    <span class="cell primary" data-label="Vehicle">Median Weeks on Market</span>
    <span class="cell" data-label="Exterior"><%= @api.fetch("median_wom") %></span>

        </div>
  <div class="row">
  <input type="radio" name="expand">
    <span class="cell primary" data-label="Vehicle">Average Weeks on Market</span>
    <span class="cell" data-label="Exterior"><%= @api.fetch("average_wom") %></span>

        </div>
  <div class="row">
  <input type="radio" name="expand">
    <span class="cell primary" data-label="Vehicle">Value Score</span>
    <span class="cell" id="score" data-label="Exterior"><%= algo_for_quality(@api.fetch("average_price"), @api.fetch("average_ppsf")) %></span>

        </div>      
  <div class="row">
  <input type="radio" name="expand">
    <span class="cell primary" data-label="Vehicle">Search Criteria</span>
    <span class="cell" data-label="Exterior"><%= @api.fetch("criteria") %></span>

        </div>
  <div class="row">
  <input type="radio" name="expand">
    <span class="cell primary" data-label="Vehicle">Search URL</span>
    <span class="cell" data-label="Exterior"><%= link_to("View All Listings", @api.fetch("search_url")) %></span>
    
  </div>
</div>
</div>
<br>
<div class="center">
<%= form_tag user_query_path(@query, params[:id]), method: "delete" do %>
  <%= submit_tag("Delete Query") %>
<% end %>
</div>
<br><br>